<div class=" d-flex align-items-center justify-content-center mt-3">

  <div class="card" style="width: 18rem;">
    <img src="{{book.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{book.title}}</h5>
      <strong>Año: </strong> {{book.publicationYear}}
      <br />
      <strong>Autor: </strong> {{book.Author.name}}
      <br />
      <strong>Categoria: </strong> {{book.Category.name}}
      <br />
      <strong>Editorial: </strong> {{book.Editorial.name}}
       <br />
      <strong>Telefono: </strong> {{book.Editorial.telefono}}
       <br />
      <strong>Pais: </strong> {{book.Editorial.pais}}
    </div>
  </div>
</div>

